<mat-list role="list">
    <mat-list-item role="listitem" routerLink="/admin"> <button mat-raised-button color="primary" class="list-button">Dashboard</button></mat-list-item>
    <mat-list-item role="listitem" routerLink="customers"> <button mat-raised-button color="primary" class="list-button">Customers</button></mat-list-item>
    <mat-list-item role="listitem" routerLink="products"> <button mat-raised-button color="primary" class="list-button">Products</button></mat-list-item>
    <mat-list-item role="listitem" routerLink="orders"> <button mat-raised-button color="primary" class="list-button">Orders</button></mat-list-item>
    <mat-list-item role="listitem" routerLink=""> <button mat-raised-button color="primary" class="list-button">Siteyi Gör</button></mat-list-item>
</mat-list>